.wrapper {
  width: 90%;
  margin: auto;
  background-color: rgb(246, 246, 239);
  min-height: 95vh;
  color: #828282;
}

.return {
  width: 30%;
}

.content {
  padding: 1em;
}

.title {
  color: black;
  font-size: large;
}

a {
  color: inherit;
  text-decoration: none;
}
