<div class="wrapper">
  <button
    tuiButton
    icon="tuiIconChevronLeftLarge"
    (click)="clickBack()"
    appearance="flat"
    size="m"
  >
    Back to results
  </button>
  <section class="content">
    <tui-loader [showLoader]="loader" [overlay]="true" size="xl">
      <span class="title"
        ><a href="{{ newsItem?.url }}">{{ newsItem?.title }}</a></span
      >
      <div>
        <span> by {{ newsItem?.author }}</span> |
        <span> {{ newsItem?.points }} points</span>
      </div>
      <h2>Comments</h2>
      <app-comment-item
        *ngFor="let comment of newsItem?.children"
        [comment]="comment"
      ></app-comment-item>
    </tui-loader>
  </section>
</div>
