.news-item {
  padding: 5px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
  overflow: hidden;
  background-color: rgb(246, 246, 239);
}

.title {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

// .sub-title {
//   // font-size: 5px;
//   // line-height: 0.2em;
// }
