<div class="wrapper">
  <div class="body">
    <tui-loader
      [showLoader]="loader"
      [overlay]="true"
      size="xl"
      [inheritColor]="true"
    >
      <app-news-item
        *ngFor="let newsItem of newsItems$ | async; index as index"
        [newsItem]="newsItem"
        [index]="index"
        [hitsPerPage]="hitsPerPage"
        [page]="(currentPage | async)!"
      ></app-news-item>
      <tui-pagination
        [length]="(length | async)!"
        [index]="index"
        [focusable]="true"
        (indexChange)="goToPage($event)"
      ></tui-pagination>
    </tui-loader>
  </div>
</div>
