<div class="wrapper">
  <app-header></app-header>
  <div class="body">
    <tui-loader [showLoader]="loader" [overlay]="true" size="xl">
      <app-news-item
        *ngFor="
          let newsItem of newsItems | async;
          index as index;
          trackBy: identify
        "
        [newsItem]="newsItem"
        [index]="index"
      ></app-news-item>
    </tui-loader>
  </div>
  <tui-pagination
    [length]="length"
    [index]="index"
    (indexChange)="goToPage($event)"
    [activePadding]="1"
    [sidePadding]="-1"
  ></tui-pagination>
</div>
